.first-section {
    color: green;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    border: 3px solid orange;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
    padding: 10px 0px 10px;
    margin-right: 250px;
    margin-left: 250px;
    text-align: center;
    margin-top: 50px
}

.second-section {
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
    padding: 10px 0px 10px;
    margin-right: 250px;
    margin-left: 250px;
    text-align: center;
    border: 3px solid blue;
    margin-top: 20px;
}

.third-section {
    color: blue;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
    padding: 10px 0px 10px;
    margin-right: 250px;
    margin-left: 250px;
    text-align: center;
    border: 3px solid greenyellow;
    margin-top: 20px;
}